<p-panel class="h-full">
  <ng-template #header>
    <p class="md:text-4xl text-3xl font-bold text-primary">
      {{ 'hard-skills.header' | translate }}
    </p>
  </ng-template>
  <div class="grid lg:grid-cols-6 grid-cols-2 gap-4">
    <div class="col-span-2 grid grid-cols-subgrid grid-flow-col grid-rows-4 gap-y-1">
      <p class="col-span-2 font-semibold">{{ 'hard-skills.front-end.title' | translate }}</p>
      @for (skill of getSkills('front-end') | async; track $index) {
        <p>{{ skill }}</p>
      }
    </div>
    <div class="col-span-2 grid grid-cols-subgrid grid-flow-col grid-rows-4 gap-y-1">
      <p class="col-span-2 font-semibold">{{ 'hard-skills.back-end.title' | translate }}</p>
      @for (skill of getSkills('back-end') | async; track $index) {
        <p>{{ skill }}</p>
      }
    </div>
    <div class="col-span-2 grid grid-cols-subgrid grid-flow-col grid-rows-4 gap-y-1">
      <p class="col-span-2 font-semibold">{{ 'hard-skills.others.title' | translate }}</p>
      @for (skill of getSkills('others') | async; track $index) {
        <p>{{ skill }}</p>
      }
    </div>
  </div>
</p-panel>
